body {
  font-family: Arial;
  background: #f3f6ff;
  margin: 0;
  text-align: center;
}

header {
  background: linear-gradient(to right, #2b4eff, #00c6ff);
  color: white;
  padding: 25px;
}

section {
  display: none;
  padding: 25px;
}

section.active {
  display: block;
}

.task {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

button {
  margin: 8px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #2b4eff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d35b8;
}

.mail {
  border: 2px solid red;
  padding: 15px;
  border-radius: 10px;
}

.danger {
  color: red;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}

input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  margin: 12px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
